.banner img {
	width: 100%;
	margin:auto;
}

	
.main-menu a.box {
	display: block;
    padding: 24px;
    color: #6495ED;
    font-size: 30px;
    text-decoration: none;
    padding-left: 0px;
    position: relative;
    width: 170px;

}
.images img {
	max-width: 300px;
    position: absolute;
    left: 153px;
    top: 30px;

