* {
	box-sizing: border-box;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
.banner img {
	width: 100%;
	margin: auto;
}

	
.main-menu{
	display: block;
    padding: 52px;
    color: #6495ED;
    font-size: 30px;
    text-decoration: none;
    padding-left: 0px;
    position: relative;
    width: 187px;

}
.images {
    position: absolute;
    top: 30px;
    left: 145px;
    float: left;
    width: 1000px;
    margin-top: -13px;

}
.images img {
	max-width: 280px;
    margin-top: 30px;
}
 
.icon img {
	max-width: 50px;
	position: fixed;
	right: 30px;
	bottom: 30px;
}

