.banner img {
	width: 100%
}
#main-menu a{
	font-size: 30px;
	color:#737373;
}
.sp img{
    max-width: 200px;
	margin:auto;
}
.sp img:hover {
	transform: scale(1.08);
}
.sp p {
	font-size: 15px;
}
.box{
	border: 1px solid #F0E68C;
	float: left;
	width: 33%;
	padding: 5px;
	margin-right:3px;
	margin-bottom: 3px;
}