body {
	background-color: tan;
}

.wrap
{
background-color:#969696;
height:450px;
width:350px;
border-radius:10px;
position:relative;
top:105px;
left:40.5%;
} 

@keyframes fadeinout {
	0%{
 		color: #bf1e8b;
 	
 	}
 	25%{
 		color: #17ec52;

 	}
 	50%{
 		color: #ef2f2f;
 	}
 	75%{
 		color: #e603bc;
 		}
 	100% {
		color: #1503e6
 	}
 } 

#cal-contain{
background-color:rgba(144, 206, 236, 0.94);;
position:relative;
top:25px;
height:40px;
}
#cal-contain input
{
    position: relative;
    left: -2px;
    top: -10px;
    height: 43px;
    color: black;
    background-color: #aac5ce;
    font-size: 20px;

} 
.key{
	position: relative;
	top: 20px;
}
.button
{
width:66px;
border:none;
border-radius:10px;
margin-left:17px;
margin-bottom: 11px;
cursor:pointer;
border-top:2px solid transparent;
}
.top {
	border-top: 2px;
}