*{
 box-sizing: border-box;
}
.wrap{
	float: left;
	max-width: 1000px;
	margin: auto;
	position: relative;
	text-align: center;
}
img {
	width: 300px;
	height: 200px;
}
.thumb {
	width: 33.33%;
    float: left;
    padding: 15px;
 }
 @keyframes fadeinout {
 	50%{
 		color: red;
 		opacity: 1;
 	}
 	0%,100%{
 		opacity: 0;

 	}
 	0%{
 		transform: translate(0,0);
 	}
 	100%{
 		transform: translate(30.1%,0);
 	}
 } 
 h1{
 	text-align: left;
 	color:blue;
 	animation: fadeinout 6s ease infinite;
 }

